html {
  font-size: 10px;
  background: url(ian/IanBremmer.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: serif;
}
body{
  min-height: 100vh;
  display: flex;
  flex: 1;
 float:left;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: monospace;
  font-size: 2rem;
  color: white;
  text-align: center;
  justify-content: center;
}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
 float:left;
}

.key {
  border: .4rem solid;
  border-color: #00205B;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  cursor: pointer; 
  float:left;
}

.key:hover { 
     border-color: #00A3E0;
}

.playing {
  transform: scale(1.1);
  border-color: #00A3E0;
  box-shadow: 0 0 1rem #00A3E0;
}

kbd {
  display: block;
  font-family: monospace;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #00A3E0;
}

@media only screen and (max-width: 650px) {
    .key {
  border: .2rem solid;
  border-color: #00205B;
  border-radius: .25rem;
  margin: .5rem;
  font-size: .75rem;
  padding: .5rem .25rem;
  transition: all .07s ease;
  width: 5rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .25rem black;
  cursor: pointer; 
  float:left;
}
h1 {
  
  font-size: 1rem;

}

}
